.ayuda_cont {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: auto;
}

.pic_ayuda1 {
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.mensajeria {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px;
    padding-right: 15%;

}

.issue {
    width: 300px;
    height: 100px; 
    display: block;
    border-radius: 17px;

}

.mail{
    display: block;
    border-radius: 10px;

}

.name{
    display: block;
    border-radius: 10px;

}

.btn{
    background-color: #48CFAE;
}

.button{
    display: flex;
}