.target{
    background-color: #e6e9e8;
    border-style: solid;
    border-width: 1px;
    padding: 20px 0px;
    border-radius: 17px;
    margin-top: 25px;
    margin-right: 10px;
    margin-left: 10px;
}
.container{
    width: auto !important;
}
.img-target{
    width: 80%;
    border-radius: 15px;
}
.decrip-h{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 40px;
    font-size: 18px;
    margin-bottom: 0px;
}