.navbar{
    background-color: #48CFAE;
    border-radius: 0px 0px 20px 20px; 
   
}
.navbar-left{
    display: flex;
    flex-direction: row;
    align-items: center;
    
}

.img-logo{

    width: 10%;
}


.img-logo-menu{
    width: 100%;
}
.text-nav{
    width: 100%;
    font-size: 30px;
    font-weight: 600;
    color: rgb(42, 14, 14);
}

.space-dr{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    width: 100%;
}
.btn-navs{
    width: 12%;
    height: 100px;
    border: none;
    background-color: transparent;
}


.dropdown-menu {
    position: absolute !important;
    right: 0px !important;
    background-color: #333;
    color: white;
    border: none;
    cursor: pointer;
}

.dropdown-menu {
    position: absolute !important;
    list-style: none !important;
    padding: 0 !important;
    margin: 0px !important;
    background-color: #c8c6c6 !important;
    top: 100% !important;
    left: 80% !important;
    right: 40px !important;
    display: none ;  
    z-index: 1 ; 
  }
  
  .menu:hover .dropdown-menu,
  .menu:focus-within .dropdown-menu {
    display: block; /* Mostrar el menú al pasar el ratón o al hacer clic */
  }
  
  .dropdown-menu li {
    padding: 0.5rem;
    cursor: pointer;
  }
 
  
  
  