.cont_img_casa{
padding: 0px;
width: 40%;
}

.casa1{
    width: 60%;
}

.editar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    padding: 20px;
    align-content: space-around;
    justify-content: center;
    
}

.titulo{
    width: 500px;
    display: block;
    display: flex;
    flex-direction: column;
}

.ubicacion{
    width: 500px;
    display: block;
    display: flex;
    flex-direction: column;
}

.precio{
    width: 500px;
    display: block;
    display: flex;
    flex-direction: column;
}

.descripcion{
    display: block;
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 100px; 
}

.comodidades{
    width: 500px; 
    height: 100px; 
    display: block;
    display: flex;
    flex-direction: column;
}

.btn_guardar{
    background-color: #48CFAE;
}

.button{
    display: flex;
}

.los_inputs{
    padding-left: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}